<%= render partial: 'shared/menu' %>

<div class="container">
    <div class="list-group">
        <div class="list-group-item active">
            <h4 class="list-group-item-heading">Newspapers</h4>
        </div>
        <%= render @newspapers %>
    </div>
</div>
