<%= render partial: 'shared/menu' %>

<div class="container">

    Index test
    
    <% if current_user.admin? %>
        <a href="/promotions/new" class="btn btn-primary">New</a>
    <% end %>
</div>
